h1 {
  color: blue;
  font-family: Times, serif;
  font-size: 40px;
}
img {
    max-width: 25%;
    height: auto;
}
.display {
  width: 500px;
}
.body {
  color: black;
  font-family: Times, serif;
  font-size: 22px;
}
.footer {
  color: black;
  font-family: Times, serif;
  font-style: italic;
  font-size: 30px;
}
.submit {
  color: green;
  font-family: Georgia, serif;
  font-size: 20px;
}
input::placeholder {
  color: red;
  font-style: italic;
  font-family: Georgia, serif;
}
.field{
margin-right: 25px;
}
.error {
  color: red;
  font-family: Georgia, serif;
  font-size: 20px;
}
.answer {
  color: green;
  font-family: Georgia, serif;
  font-size: 20px;
}
